version: "3"
services:
  postgres:
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - ./src/main/resources/data/create_tables.sql:/docker-entrypoint-initdb.d/create_tables.sql
      - ./src/main/resources/data/insert_data.sql:/docker-entrypoint-initdb.d/insert_data.sql
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=${DB_ADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${DB_ADMIN_PASSWORD}
    ports:
      - "${DB_ADMIN_PORT}:80"
    depends_on:
      - postgres